body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    // height: 100vh;
    margin: 0;
}

.full-height {
    height: auto;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    width: 1000px;
}

.title {
    font-size: 44px;
}

.worning {
    font-size: 30px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.text-error {
    font-size: 1.2em;
    color: red;
}

.form-check-input {
    position: absolute;
    margin-top: 7px;
    margin-left: -1.45rem;
}

table td {
    vertical-align: middle !important;
    align-items: center;
    font-size: 16px;
    img {
        width: 80px;
        height: auto;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 5px;
    }
}

.btn {
    width: 200px;
    font-size: 16px;
}

.pytanie {
    font-size: 18px;
}

.alert-primary {
    font-size: 18px !important;
}
